.DS_Store
.venv
.vscode
*/__pycache__
*/*/__pycache__
pymusouf.egg-info/
build/
data/
exe/
files/survey/soufriere/telescope/SNJ/raypath/*
files/survey/soufriere/telescope/SNJ/raypath/*/voxel/
files/survey/soufriere/telescope/SB/raypath/*
files/survey/soufriere/telescope/SB/raypath/*/voxel/
files/survey/soufriere/telescope/BR/raypath/*
files/survey/soufriere/telescope/BR/raypath/*/voxel/
files/survey/soufriere/telescope/OM/raypath/*
files/survey/soufriere/telescope/OM/raypath/*/voxel/
files/survey/soufriere/telescope/SNJ/voxel/*
files/survey/soufriere/telescope/SB/voxel/*
files/survey/soufriere/telescope/BR/voxel/*
files/survey/soufriere/telescope/OM/voxel/*
files/survey/soufriere/dem/*
files/survey/soufriere/voxel/*
modeling3d/inversion/old
modeling3d/scripts/old
muo2d/old
out/
tracking/old
test.py