.DS_Store
.venv
.vscode
.old
*/__pycache__
*/*/__pycache__
pymusouf.egg-info/
build/
data/
exe/
modeling3d/inversion/old
modeling3d/scripts/old
out/
tracking/old
test.py
*.old
*.tmp
*.csv.gz
files
struct_link
data_link
*.csv
*cache.json
*.npz
*.png
*.output
*.save
*.log
*.h5
*.hdf5
*/reco
sample/*/*/*/json
sample/*/*/*/log
sample/*/*/*/npy
sample/*/*/*/png
sample/*/*/*/pkl
sample/*/*/*/reco
.env




